@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
	--White-color: hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
	font-family: Outfit, sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

body {
	height: fit-content;
}

main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--Light-gray);
}

.card, img {
	border-radius: 20px;
	width: 18em;
}

img {
	width: 100%;
}

.card {
	text-align: center;
	background-color: var(--White-color);
	padding: 1em;
}

.card > h1 {
	color: var(--Dark-blue);
	font-size: 24px;
	margin: 20px 0;
}

.card > p {
	color: var(--Grayish-blue);
	margin-bottom: 25px;
}

.attribution { 
	font-size: 11px; 
	text-align: center; 
	position: fixed;
	top: 98%;
	width: 100%;
	margin: auto;
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}
